body {
    background-color: antiquewhite;
}

.content-wrapper {
    height: 400px;
    width: 400px;
    
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    
    text-align: center;
    background-color: burlywood;
}

.content-wrapper input {
    width: 90%;
}

.content-wrapper textarea {
    margin-top: 20px;
    width: 90%;
}

.content-wrapper button {
    margin-top: 10px;
    float: right;
}

.content-wrapper button img {
    height: 30px;
    width: 30px;
}